Screen {
    background: #000000;
    color: #D9EAFD;
    border: round #D9EAFD;
}

.title {
    text-align: center;
    offset: 0 1;
    text-style: bold;
    color: #D9EAFD;
}

.subtitle {
    text-align: center;
    color: #a6adc8;
    offset: 0 3;
}

.menu {
    align: center middle;
}

.menu Button {
    background: #000000;
    width: 40;
    border: round #D9EAFD;
    color: #D9EAFD;
}

.menu Button:hover {
    background: rgba(0, 0, 0, 0.3);
    color: #D9EAFD;
}

.footer-note {
    text-align: center;
    color: #D9EAFD;
    padding: 2 0;
}

Footer {
    background: #000000;
    color: #FFFFFF;
}