Screen {
    background: #000000;
    color: #D9EAFD;
    border: round #D9EAFD;
}

.detail_title {
    text-align: center;
    text-style: bold;
    color: #D9EAFD;
}

.detail_synopsis{
    margin: 5 2;
    background: #000000;
    border: round #D9EAFD;
    height: auto;
}