Screen {
    background: #000000;
    color: #D9EAFD;
    border: round #D9EAFD;
}

#title {
    text-align: center;
    text-style: bold;
    color: #D9EAFD;
}

#episode_list {
    margin: 5 2;
    background: #000000;
    color: #D9EAFD;
    border: round #D9EAFD;
    height: auto;
    overflow: auto;
}

#loading_display {
    background: #000000;
    color: #D9EAFD;
}