#settings_container {
    width: 100%;
    height: 100%;
    background: #000000;
}


#settings_scroll {
    width: 100%;
    height: 1fr;
    padding: 1 2;
    background: #000000;
    color: #D9EAFD;
}

.section-header {
    width: 100%;
    margin-top: 1;
    margin-bottom: 0;
    color: #D9EAFD;
}

.setting-label {
    width: 100%;
    margin-top: 1;
    margin-bottom: 0;
    color: #D9EAFD;
}

.setting-widget {
    width: 100%;
    margin-bottom: 1;
}

#player_options {
    width: 100%;
    height: auto;
    margin-bottom: 2;
    background: #000000;
    color: #D9EAFD;
    border: round #D9EAFD;
}

#settings_actions {
    dock: bottom;
    width: 100%;
    height: auto;
    padding: 1;
    background: #000000;
    align: center middle;
}

#settings_actions Button {
    margin: 0 1;
    min-width: 15;
    background: #000000;
    color: #D9EAFD;
    border: round #D9EAFD;
}

#settings_actions Button:hover {
    background: #2e2e3e;
}

#settings_actions Button:focus {
    border: heavy #D9EAFD;
}


Input {
    background: #000000;
    color: #D9EAFD;
    border: round #D9EAFD;
}

Input:focus {
    border: heavy #D9EAFD;
}

Select {
    background: #000000;
    color: #D9EAFD;
    border: round #D9EAFD;
}

Select:focus {
    border: heavy #D9EAFD;
}